<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MineSweepingGameDataMapper">
    <sql id="Base_Column_List">
            data_id,
            player_name,
            `time`,
            is_win,
            model_id
    </sql>
    <resultMap id="BaseResultMap" type="com.pojo.MineSweepingGameData">
        <!--@Table mine_sweeping_game_data-->
        <id column="data_id" jdbcType="INTEGER" property="dataId"/>
        <result column="player_name" jdbcType="VARCHAR" property="playerName"/>
        <result column="time" jdbcType="BIGINT" property="time"/>
        <result column="is_win" jdbcType="TINYINT" property="isWin"/>
        <association column="model_id" property="mineSweepingModelData" javaType="com.pojo.MineSweepingModelData">
            <id column="model_id" jdbcType="INTEGER" property="modelId"/>
            <result column="row" jdbcType="INTEGER" property="row"/>
            <result column="column" jdbcType="INTEGER" property="column"/>
            <result column="mine_number" jdbcType="INTEGER" property="mineNumber"/>
            <result column="model_name" jdbcType="VARCHAR" property="modelName"/>
        </association>
    </resultMap>

    <insert id="insert"
            keyColumn="data_id"
            keyProperty="dataId"
            parameterType="com.pojo.MineSweepingGameData"
            useGeneratedKeys="true">
        insert into mine_sweeping_game_data (player_name, `time`, is_win, model_id
        )
        values (#{playerName,jdbcType=VARCHAR}, #{time,jdbcType=BIGINT}, #{isWin,jdbcType=TINYINT},
        #{mineSweepingModelData.modelId,jdbcType=INTEGER}
        )
    </insert>

    <select id="findByPlayerName" resultMap="BaseResultMap">
        select
        *
        from mine_sweeping_game_data game inner join mine_sweeping_model_data model
        on game.model_id=model.model_id AND game.player_name=#{playerName,jdbcType=VARCHAR}
    </select>

    <select id="findByPlayerNameAndModelName" resultMap="BaseResultMap">
        select
        *
        from mine_sweeping_game_data game inner join mine_sweeping_model_data model
        on game.model_id=model.model_id AND game.player_name=#{playerName,jdbcType=VARCHAR} AND
        model.model_name=#{modelName,jdbcType=VARCHAR}
    </select>

    <select id="findByModelNameOrderByTime" resultType="com.pojo.MineSweepingGameData">
        select
        *
        from mine_sweeping_game_data game inner join mine_sweeping_model_data model
        on game.model_id=model.model_id AND game.is_win = 1 AND model.model_name=#{modelName,jdbcType=VARCHAR} order by
        `time` limit 1
    </select>
</mapper>