<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MineSweepingModelDataMapper">
    <sql id="Base_Column_List">
            model_id,
            `row`,
            `column`,
            mine_number,
            model_name
    </sql>
    <resultMap id="BaseResultMap" type="com.pojo.MineSweepingModelData">
        <!--@Table mine_sweeping_model_data-->
        <id column="model_id" jdbcType="INTEGER" property="modelId"/>
        <result column="row" jdbcType="INTEGER" property="row"/>
        <result column="column" jdbcType="INTEGER" property="column"/>
        <result column="mine_number" jdbcType="INTEGER" property="mineNumber"/>
        <result column="model_name" jdbcType="VARCHAR" property="modelName"/>

        <collection property="mineSweepingGameDataSet" ofType="com.pojo.MineSweepingGameData">
            <result column="data_id" jdbcType="INTEGER" property="dataId"/>
            <result column="player_name" jdbcType="VARCHAR" property="playerName"/>
            <result column="time" jdbcType="BIGINT" property="time"/>
            <result column="is_win" jdbcType="TINYINT" property="isWin"/>
            <result column="model_id" jdbcType="INTEGER" property="mineSweepingModelData.modelId"/>
        </collection>
    </resultMap>
    <insert id="insert"
            keyColumn="model_id"
            keyProperty="modelId"
            parameterType="com.pojo.MineSweepingModelData"
            useGeneratedKeys="true">
        insert into mine_sweeping_model_data (`row`, `column`, mine_number,
        model_name)
        values (#{row,jdbcType=INTEGER}, #{column,jdbcType=INTEGER}, #{mineNumber,jdbcType=INTEGER},
        #{modelName,jdbcType=VARCHAR})
    </insert>

    <select id="findOneByModelName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mine_sweeping_model_data
        where model_name=#{modelName,jdbcType=VARCHAR}
    </select>

    <update id="updateByModelId">
        update mine_sweeping_model_data
        <set>
            <if test="mineSweepingModelData.modelId != null">
                model_id = #{mineSweepingModelData.modelId,jdbcType=INTEGER},
            </if>
            <if test="mineSweepingModelData.row != null">
                `row` = #{mineSweepingModelData.row,jdbcType=INTEGER},
            </if>
            <if test="mineSweepingModelData.column != null">
                `column` = #{mineSweepingModelData.column,jdbcType=INTEGER},
            </if>
            <if test="mineSweepingModelData.mineNumber != null">
                mine_number = #{mineSweepingModelData.mineNumber,jdbcType=INTEGER},
            </if>
            <if test="mineSweepingModelData.modelName != null">
                model_name = #{mineSweepingModelData.modelName,jdbcType=VARCHAR},
            </if>
        </set>
        where model_id=#{modelId,jdbcType=INTEGER}
    </update>

</mapper>